<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <% if (typeof message != "undefined") { %>
        <div class="error-message">
            <%= message %>
        </div>
        <% } %>

            <button type="submit">Log in</button>
</form>