<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" />

    <label for="email">Email</label>
    <input type="text" name="email" />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <% if (typeof message != "undefined") { %>
        <div class="error-message">
            <%= message %>
        </div>
        <% } %>

            <button type="submit">Sign up</button>
</form>

<div>
    <a href="/auth/google">Sign up with Google</a>
</div>