<div class="signup-container">

    <div class="signup-box">
        <form action="/signup" method="POST">

            <input type="text" placeholder="username" name="username" />

            <input type="text" placeholder="Email" name="email" />

            <input type="password" placeholder="Password" name="password" />

            <% if (typeof message != "undefined") { %>
                <div class="error-message">
                    <%= message %>
                </div>
                <% } %>

                    <button type="submit" id="signup-button">Sign up</button>
        </form>


        <a href="/auth/google">
            <button class="signup-using-google">Sign up using Google</button>
        </a>
    </div>
</div>