<h2>My Profile</h2>

<form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <img src="<%= user.prof_pic_path %>/<%= user.prof_pic_name %>" alt="">
        <input type="file" class="form-control-file" name="prof-pic" />
    </div>

    <div class="col-3">
        <div class="form-group">
            <label for="username">Username</label>                            
            <input class="form-control" type="text" name="username" value="<%= user.username %>">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>            
            <input class="form-control" type="text" name="email" value="<%= user.email %>" />
        </div>
        <div class="form-group">
            <label for="email">Change password</label>                    
            <input class="form-control" type="text" name="password" placeholder="Password" />
            <input class="form-control" type="text" name="password" placeholder="Confirm password" />
        </div>
        <div class="form-group">
            <label for="telephone">Telephone</label>                    
            <input class="form-control" type="text" name="telephone" />       
        </div>
        <div class="form-group">
            <label for="location">Location</label>            
            <input class="form-control" type="text" name="location" /> 
        </div>     
    </div>
    
    <div class="form-group">
        <button class="btn btn-danger"><a href="/">Cancel</a></button>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>

</form>