<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Neighbourhood</title>
    <link rel="stylesheet" href="stylesheets/style-errors.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">

</head>

<body>
    <%- body -%>
</body>

</html>