<div class="background-index">
  <div class="container-index">
    <div class="comunity-of-makers">
      <p class="join-the-comunity">
        Join the biggest comunity of makers in the world
        <i class="fa fa-globe" aria-hidden="true"></i>

      </p>
    </div>


    <nav role="navigation">
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">

          <% if (!loggedIn) { %>
            <div class="signup-div">
              <a class="signup" href="/signup">Sign up</a>
            </div>
            <div class="login-div">
              <a class="login" href="/login">Log in</a>
            </div>
            <div class="logout-div">
              <% } else { %>
                <a class="logout" href="/logout">Log out</a>
                <% } %>
            </div>

        </ul>
      </div>
    </nav>


    <div class="index-searcher">
      <img class="logo-menu" src="/pictures/logo-nou-blanc.png">
      <img class="logo-index-neighbourhood" src="/pictures/neighbourhood.png">

      <nav class="navbar navbar-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2 middle-searcher searcher" type="search" placeholder="What are you looking for?" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 middle-button" type="submit">Search</button>
        </form>
      </nav>
    </div>



  </div>
  <h2>Categories</h2>
  <% categories.forEach((category) => { %>
    <a href="/things/<%= category._id %>">
      <%= category.title %>
    </a>
    <% }); %>

      <footer>

        <div class="social">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>

        <p class="made-with-love">
          <i class="fa fa-copyright" aria-hidden="true"></i>Made with
          <i class="fa fa-heart" aria-hidden="true"></i>
          by Clara Ameller & Cristina Moreno </p>


      </footer>


</div>