<div class="error-background">
    <div class="error-container">

        <img class="logo-error-page" src="/pictures/logo-nou-blanc.png">

        <h1 class="error-status">
            404
        </h1>

        <h1 class="error-title">
            Page not found
        </h1>

        <p class="error-description">
            Sorry, you are out of the neighbourhood, are you trying to scape from us?
        </p>

        <a href="/" class="come-back-button-a">
            <button class="come-back-button">Come back with us!</button>
        </a>

    </div>
</div>