<div class="error-container">

    <h1 class="error-status">
        404
    </h1>
    <h1 class="error-title">
        Page not found
    </h1>
    <p class="error-description">
        Sorry, you are out of the neighbourhood, are you trying to scape from us?
    </p>
    <div class="come-back-button">
        <a href="/" class="come-back-button-a">Come back with us!</a>
    </div>
</div>