
/*---------DEFAULT BEHAVOUR---------*/

/* @media ( min-width: 1000px) {} */


html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*:before, *, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}


/* div{
  border: 1px solid black;
} */

body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}



/*---------ERROR PAGES (404 & 500)---------*/
.error-background {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  height: 100%;
}

.error-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  justify-content: center;
}

.logo-error-page{
  width: 19%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.error-status{
  color: white;
  font-family:  'Roboto Mono', monospace;
  font-size: 7em;
  flex-direction: row;
  margin: 0 auto;

}

.error-title{
  color: white;
  font-family:  'Roboto Mono', monospace;
  font-weight: Bold;
  font-size: 1.8em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 0;
  text-align: center;


}

.error-description{
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin: 10px;
}

.come-back-button{
 
  cursor: pointer;
  color: white;
  background-color: #EF6C00;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 40px;
  width: 170px;
  border-radius: 4px;
  border-style: none;
  position: relative;
  top: 14px;
  margin: 0 auto;
  

}
.come-back-button:hover{
background-color: #FFA726;

}

.come-back-button-a:hover{
  text-decoration: none;
  
}


.come-back-button-a{
  font-family: 'Roboto';
  text-transform: none;
  text-decoration: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  color: white;

}








/*---------LANGING PAGE---------*/


/*---------TOP BAR---------*/
.comunity-of-makers{
  display: none;
}


/*---------HEADER---------*/


.logo-menu{
  width: 19%;
  height: auto;
}


.index-menu{
  background-color: red;
  height: 100%;
  width: 40%;
  
}

.logo-index-neighbourhood{
  width: 59%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo-menu{
  margin: 0 auto;
  width: 21%;
  height: auto;
  position: relative;
  bottom: 13%;
}

.background-index{
  width: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.container-index{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}









/*-----------------------------BOOTSTRAP SEARCHER*/

/* .middle-button {
  height: 80px;
  width: 160px;
  background-color: #28a745;
  color: white;
  font-size: 2em;
  border-radius: 20px;
}

.middle-searcher{
  width: 70% !important;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 20px;
}


.index-searcher-home{
  display: flex;
  flex-direction: column;
  margin-top: 180px;

}

.form-control::placeholder {
  color: #868e96;
  opacity: 1;
  font-size: 2.4em !important;
}

.mr-sm-2{
  height: 50%;
}

.navbar {
  justify-content: center !important;
  position: relative;
  padding: .5rem 1rem;
  height: 180px;
  margin-top: 40px;
}

.form-inline{
  width: 83%;
  height: 100%;
  justify-content: center;
	align-items: center;
  align-content: center;
  
}    */


/*-----------------------------BURGER MENU*/



#menu > a
{
  text-decoration: none;
  color: #455A64;
  transition: color 0.3s ease;
  font-size: 1em;
}

#menu > a:hover
{
  color: #f29b47;
  text-decoration: none;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 3%;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #263238;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #263238;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 207px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #FFFFFFD9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 5px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}



.signup, .login, .signout{
  
}
  
.signup{
  top: 86%;
}
  
.login{
  top: 91%;
  
}

.logout-button{
  cursor: pointer;
  color: white;
  background-color: #d84734;
  padding: 10px 20px;
  border-radius: 4px;
  top: 14px;
}

.logout-button:hover{
  text-decoration: none;
  background-color: #D50000;
  color: white;
}







/*-----------------------------CATEGORIES*/
.categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 30%;
  width: 100%;
}
  
.cats{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
}
  
.cat {
  width: 630px;
  height: auto;
  border-radius: 50px;
  margin-bottom: 50px;
}
  
.cat-atri{
  margin-right: 0px;
  margin-bottom: 30px;
    
}
  
.cat-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 7em;
  color: #263238;
  margin-bottom: 60px;
  margin-top: 60px;
  
}








/*-------------------FOOTER-------------------*/

footer{
  background-color: #263238;
  width: 100%;
  height: 80px;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
  bottom: 0;
}


.made-with-love{
  font-family: 'Roboto', sans-serif;
  color: #CFD8DC;
  font-weight: 100;
  font-size: 2em;
  align-content: center;
  justify-content: center;
  margin: 0;

}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: flex-end;
  align-content: center;
  display: none;
}

.fa-instagram, .fa-twitter, .fa-facebook{
  color: #CFD8DC;
  margin-right: 10px;
  font-size: 2em;
}









/*-------------------------SIGNUP-PAGE---------------------------*/

.signup-using-google{
  cursor: pointer;
  color: white;
  background-color: #d84734;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 40px;
  width: 200px;
  border-radius: 4px;
  border-style: none;
  position: relative;
  top: 14px;
  margin: 0 auto;
}

#signup-button{
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 250px;
  border-radius: 4px;
  border-style: none;
  margin: 0 auto;
  
}

.go-to-login{
  color: #EF6C00;
 
}

.go-to-login:hover{
  color: #37474F;
  text-decoration: none;
 
}

.already-account{
  position: relative;
  bottom: 10px;
}

/*------------GOOGLE BUTTON*/

.form-group-button-google > a:hover{
  text-decoration: none;

}

.signup-using-google:hover{
  background-color: #DD2C00;
  text-decoration: none;
}
.signup-using-google > a{
  color: white;
}
.signup-using-google > a:hover{
  color: white;
  text-decoration: none;
}

/*-----------------------------BOTH SIGNUP & LOGIN*/

.signup-container, .login-container {
  width: 100%;
  background-color: #ECEFF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.signup-box, .login-box{
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
}


.signup-form, .login-form{
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.form-group-button-google{
  margin-bottom: 30px;
}

.btn-color{
  background-color: #EF6C00;
  border: none;
  width: 40%;
}

.btn-color:hover {
  background-color: #FFA726;
}


.signup-div > a, .login-div > a{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #263238;
}

.signup-div > a:hover, .login-div > a:hover{
  text-decoration: none;
  color: #EF6C00;  
}

#emailHelp{
  text-align: center;
}

.error-message{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #D50000;
  font-size: 0.9em;
}

.go-home-logo{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.go-home-button{
  cursor: pointer;
  color: white;
  background-color: #0D47A1;
  padding: 4px 5px;
  border-radius: 4px;
  position: absolute;
  top: 3%;
  left: 5%;
  position: absolute;
}

.go-home-button:hover{
  text-decoration: none;
  background-color: #1565C0;
  color: white;
}


/*-------------------------LOGIN-PAGE---------------------------*/


.button-login{
  justify-content: center;
	align-items: center;
  align-content: center;
  margin: 0 auto;
}


















/*-------------------------THINGS---------------------------*/
#map {
  display: none;
  position: fixed;
  z-index: 0;
}

.things-plus-map{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list-things-container{
  display: flex;
  flex-direction: column;
  
}


.top-bar-things{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FF9100;
  position: fixed;
  z-index:1;
}

.things-searcher{
  display: flex;
  flex-direction: row;
	justify-content: space-between;
	align-items: center;
  align-content: space-between;
  padding-right: 20px;
  padding-left: 70px;

}

.navbar-things{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thing-itself{

}

.logo-back-home{
  width: 50px;
  height: auto;
}


.form-inline-things{
  margin: 0 !important;
}


.things-here{
  display: flex;
  width: 70%;
  margin-top: 114px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.thing-description{
  margin-top: 20px;
  font-family: Roboto;
}

.thing-price{
  font-family: 'Roboto Mono', monospace;
  color: #D32F2F;
  font-weight: bold;

}






/*-------------------------QUERIES---------------------------*/
/*-------------------------QUERY DESKTOP---------------------------*/

@media (orientation:landscape) {

  /*---------LANDING PAGE---------*/

  .logo-menu{
    width: 110px;
    height: auto;
  }


  .logo-index-neighbourhood{
    width: 520px;
  }

  .fa-instagram, .fa-twitter, .fa-facebook{
    display: inline;
    color: #CFD8DC;
    margin-right: 10px;
    font-size: 2em;
  }

  .background-index{
    width: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height: auto;
  }


  /*---------BOOTSTRAP SEARCHER---------*/
  .navbar {
    justify-content: center !important;
    position: relative;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .form-inline {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-radius:.25rem;
  }


  .searcher {
    width: 400px !important;
  }


  
  .middle-searcher{
    width: 70% !important;
    
  }
  
  
  .index-searcher-home{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
  }
  
  .form-control::placeholder {
    color: #868e96;
    opacity: 1;
    font-size: 0.8em !important;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  

  /*-------------------TOP BAR-------------------*/
  .join-the-comunity{
    display: none;
  }

  .comunity-of-makers{
    display: block;
    width: 100%;
    height: 50px;
    background-color:#ECEFF1 ;
    z-index: 93;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 0.5px solid #B0BEC5
    
  }

  .join-the-comunity{
    display: inline;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #37474F;
  }



  /*---FOOTER---*/
  footer{
    background-color: #263238;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
  }


  .made-with-love{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #CFD8DC;
    font-weight: 100;
    font-size: 0.7em;
    align-content: center;
    justify-content: center;
    margin: 0;
  }

  .social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
  }
  .fa-instagram, .fa-twitter, .fa-facebook{
    color: #CFD8DC;
    margin-right: 10px;
  }


  /*---------LOGIN & SIGNUP---------*/
  .btn-color{
    width: 60%;
  }


  .signup-box, .login-box{
    width: 30%;
    height: 77%;
  }


  /*---------ERROR PAGE---------*/
  .logo-error-page{
    width: 10%;
    height: auto;
  }





  /*---------BURGER MENU---------*/
  #menuToggle {
    display: block;
    position: fixed;
    top: 80px;
    left: 50px;
  }



  /*---------CATEGORIES---------*/
  .categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    top: 30%;
    width: 100%;
  }
  
  .cats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
  }
  
  .cat {
    width: 250px;
    height: auto;
    border-radius: 10px;
  }
  
  .cat-atri{
   margin-right: 30px;
    margin-bottom: 30px;
    
  }
  
  .cat-title{
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: #263238;
    margin-bottom: 60px;
    margin-top: 60px;
    
  }


  /*-------------------------THINGS---------------------------*/
  #map {
    display: block;
    width: 50%;
    height: 100vh;
    position: fixed;
    display: block;
  }




  .list-of-things{
    height: 100%;
    width: 50%;
  }



  .thing-itself{
    padding: 30px;
  }

  

  .form-inline-things{
    width: 450px;
  }

  .button-things{
    background-color: #28a745;
    color: white;
  }

}



/*-------------------------QUERY MOBILE---------------------------*/


@media (orientation:portrait) {

  /*-------------------------BOOTSTRAP SEARCHER---------------------------*/
  .middle-button {
    height: 80px;
    width: 160px;
    background-color: #28a745;
    color: white;
    font-size: 2em;
    border-radius: 20px;
  }
  
  .middle-searcher{
    width: 70% !important;
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 20px;
  }
  
  
  .index-searcher-home{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
  
  }
  
  .form-control::placeholder {
    color: #868e96;
    opacity: 1;
    font-size: 2.4em !important;
  }
  
  .mr-sm-2{
    height: 50%;
  }
  
  .navbar {
    justify-content: center !important;
    position: relative;
    padding: .5rem 1rem;
    height: 180px;
    margin-top: 40px;
  }
  
  .form-inline{
    width: 83%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }

  .navbar-things{
    width: 900px;
  }



  /*-------------------------BURGER---------------------------*/
  #menuToggle span {
    
    width: 76px;
    height: 10px;
    margin-bottom: 15px;
  }

  #menu {
    width: 277px;
    height: 560px;
    top: 50px;
  }
  .signup-div > a, .login-div > a {
    font-size: 3em;
  }




 /*-------------------------THINGS---------------------------*/
  .thing-itself {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .thing-description {
    font-size: 2.6em;
}

  .logo-back-home {
    width: 100px;
    height: auto;
  }
  .thing-link{
    width: 100%;
    height: auto;
  }
  .thing-img{
    width: 100%;
    height: auto;
  }
}